[Unit]
Description=Start VNC server at startup
After=syslog.target network.target
 
[Service]
Type=forking
User=USER_NAME
Group=USER_NAME
WorkingDirectory=/home/USER_NAME
 
PIDFile=/home/USER_NAME/.vnc/%H:%i.pid
ExecStartPre=-/usr/bin/vncserver -kill :%i > /dev/null 2>&1
ExecStart=/usr/bin/vncserver -depth 24 -geometry 1920x1080  :%i
ExecStop=/usr/bin/vncserver -kill :%i
 
[Install]
WantedBy=multi-user.target
